<h1><%= @user.username %></h1>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Status: <%= @user.status %></li>
  <% if @user.expert %>
    <li>Is an expert</li>
    <li>Profession: <%= @user.profession %></li>
    <li>Service: <%= @user.service %></li>
  <% else %>
    <li>Is a novice</li>
  <% end %>
</ul>

<br>
<br>

<% if !@user.expert %>
<h4> Update this user </h4>
  <%= simple_form_for @user do |f| %>
    <%= f.input :status, collection: [ "qualified", "not_qualified", "banned"]  %>
    <%= f.collection_radio_buttons :expert, [[true, 'Expert'] ,[false, 'Novice']], :first, :last %>
    <%= f.input :profession %>
    <%= f.input :service %>
    <%= f.button :submit %>
  <% end %>
<% end %>
