<h1>Dashboard</h1>
<h3>Welcome <%=current_user.username.capitalize%></h3>

<% if @user.expert %>
  <h3>Your profile</h3>

  <ul style="list-style-type:none">
    <li>You are an expert</li>
    <li>Your profession: <%=current_user.profession%></li>
    <li>Your service: <%=current_user.service%></li>
    <li>Your status: <%=current_user.status%></li>

  </ul>

  <%= link_to "Create a New Campaign", new_campaign_path, class: 'button' %>
  <%#= link_to "Set novice to expert", new_campaign_path, class: 'button' %>

  <h3>Your campaigns</h3>
  <ul>
    <% current_user.campaigns.each do |campaign|%>

      <li><%= link_to campaign.title, campaign %> |<%=campaign.duration%> min
        <% unless campaign.tags == [] %>
          |
          <% campaign.tags.each do |tag|%>
            <%= tag %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "See all Current Campaigns", campaigns_path, class: 'button' %>


<% else current_user.expert %>
<p>You are a novice. Your status: <%=current_user.status%></p>
  <%= link_to "Check Current Campaigns", campaigns_path, class: 'button' %>



<% end %>
