<h1><%= @to_do_list.listname.capitalize %></h1>

<ul>
  <% @to_dos.each do |item| %>
  <li>
    <h4 class="todo_item"><%= item.name.capitalize %></h4>
    <% @comments = Comment.where(to_do_id: item.id) %>
    <ul>
      <% @comments.each do |comment| %>
        <li>
          <b> <%= comment.title.capitalize %> </b>
          written by <% comment.user.username %>
        </li>
      <% end %>
    </ul>

    <% if !item.user.expert %>
      <%= simple_form_for @comment, html: {class: 'form-inline'} do |f| %>
        <%= f.input :title, label: false %>
        <%= hidden_field_tag 'to_do_id', item.id %>
        <%= f.button :submit %>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>


<%= simple_form_for @to_do do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%#= f.hidden_field :campaign_id, :value => @campaign.id %>
  <%= hidden_field_tag 'to_do_list_id', @to_do_list.id %>
  <%= f.button :submit %>
<% end %>




